*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    color: #27aedb;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 2rem;
    position: relative;
    padding-bottom: 0.7rem;
}
h1::after{
    content: "";
    width: 100px;
    height: 5px;
    background-color: #c59d5f;
    position: absolute;
    bottom: 0;
    right: 50%; 
    left: 50%;
    transform: translateX(-50%);
}
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}
 
.category-field{
    display: flex;
    justify-content: center;
    column-gap: 3rem;
    
    margin-bottom: 2rem;
}
.category-field>button{
    cursor: pointer;
    font-size: 18px;
    color: #c59d5f;
    border: none;
    background-color: #fff;
}
.items-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 3rem;
    gap: 20px;
    
}


/* Responsive */

@media screen and (max-width: 1080px) {
    img{
        width: 182px;
        height: 130px;
    }
}